---
layout: hmmr
title: Home
category: hmmr
---

<h1>Mixture and hidden Markov models in R</h1>
<p>
Here you will find materials related to the book "Mixture and hidden Markov
models" by Ingmar Visser and Maarten Speekenbrink.
</p>

<div class="posts">
  {% for post in site.posts %}
    {% if post.categories contains 'hmmr' %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url | absolute_url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {{ post.content }}
      </div>
    {% endif %}
  {% endfor %}
</div>
