---
layout: hmmr
title: Home
category: hmmr
---

<p>
Here you will find materials related to the book "Mixture and hidden Markov
models with R" by Ingmar Visser and Maarten Speekenbrink, and the accompanying R
package.
</p>
<hr />
<div class="posts">
  {% for post in site.posts %}
    {% if post.categories contains 'hmmr' %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url | absolute_url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }} - {{ post.author }}</span>

        {{ post.content }}
      </div>
    {% endif %}
  {% endfor %}
</div>
